.cajagenero{
	width: 100%;
	min-height: 20rem;
	text-align: center;
	display: flex;
 }
 .Contenidogenero{
	margin-top: 1%;
	width: 60%;
	height: 60%;
	font-size: 35px;

}

#img6{
	margin-top: 1%;
	margin-left: 22%;
	width: 24%;
	align-content: center;
	-webkit-animation-name: llegadaDerecha;
	        animation-name: llegadaDerecha;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
}

.containerbotongenero{
	display: flex;
	 margin-left: 20%;
	 margin-top: 2%;
	
 }
 .Botonesgenero button{
	background-color: #6F52DA ;
    width: 170px;
    border: none;
    border-radius: 25px;
    height: 55px;
    color: cornsilk;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
	margin-right: 40px;
	
 }
 .Botonesgenero button:hover{
	color: #6F52DA;
	background-color: #D8D2D2;
	border: 1px solid #6F52DA;
	font-weight: bold;
	cursor: pointer;
	margin-right: 40px;
 }

 #pie{
	display: flex;
	 font-size: 15px;
     height: 10%;
	 margin-top: 4%;
	 margin-right: 1%;
 }

#imgcua{
	height: 12px;
	

}
 
#imgcua1{
	height: 15px;
	

}

@media screen and (min-width:325px) and (max-width:425px) {
	.cajagenero{
	   height: 100%;
	   min-height: 0;
	   
	}
	
	.containerbotongenero{
	   margin-left: 12%;
	   grid-template-columns: repeat(2, 2fr);
	   display: grid;
	}
	
   
	.Botonesgenero button{
	   font-size: 12px;
	   width: 100px;
	   height: 40px;
	}
 
	#img6{
       margin: 0%;
	   width: 50%;
	   height: 40%;
	  
	}
	#pie{
		 font-size: 8px;
		 height: 5%;
	
	 }
.cajapie{
	height: 30%;
	margin-right: -35%;
	width: 20%;
}



#imgcua{
	height: 8px;
	

}
 
#imgcua1{
	height: 8px;
	

}

 }
 @media screen and (min-width:426px) and (max-width:700px) {
	
	.cajagenero{
		height: 100%;
		min-height: 0;
		
	 }
	 
	 .containerbotongenero{
		margin-left: 12%;
		grid-template-columns: repeat(2,2fr);
		display: grid;
	
	 }
	 
	
	 .Botonesgenero button{
		font-size: 12px;
		width: 120px;
		height: 44px;
	 }
  
	 #img6{
		margin: 0%;
		width: 55%;
		height: 40%;
	   
	 }
	 #pie{
		  font-size: 12px;
		  height: 5%;
	 
	  }
 .cajapie{
	 height: 30%;
	 margin-right: -32%;
	 width: 20%;
	
 }
 
 
 
 #imgcua{
	 height: 10px;
	 
 
 }
  
 #imgcua1{
	 height: 10px;
	 
 
 }
 
 }
 @media screen and (min-width:701px) and (max-width:1200px) {
	.cajagenero{
		height: 100%;
		min-height: 0;
		
	 }
	 
	 .containerbotongenero{
		margin-left: 12%;
		grid-template-columns: repeat(2,2fr);
		display: grid;
	
	 }
	 
	
	 .Botonesgenero button{
		font-size: 12px;
		width: 120px;
		height: 44px;
	 }
  
	 #img6{
		margin: 0%;
		width: 55%;
		height: 40%;
	   
	 }
	 #pie{
		  font-size: 14px;
		  height: 5%;
	 
	  }
 .cajapie{
	 height: 33%;
	 margin-right: -30%;
	 width: 20%;
	 margin-top: 10%;
	
	
 }
 
 
 
 #imgcua{
	 height: 12px;
	 
 
 }
  
 #imgcua1{
	 height: 12px;
	 
 
 }
 }
 @media screen and (min-width:1201px) and (max-width:1600px) {
	.Contenido1{
	   margin-right: 16%;
	}
 }
 
 